/* ////////////////////////////////////// PAGE COMPONENTS ////////////////////////////////////// */
body {
	width: 1070px;
	height: 1920px;
	cursor: pointer;
}
#header {
	height: 375px;
	background-color: white;
}
#display {
	height:1400px;
	background-color: #ffffff;
}
#footer {
	height: 145px;
	text-align: center;
	background-color: #002244;
}

.branding {
	height: 90px;
}

#brandimg {
	padding: 0 5%;
	width: 460px;
}
	
#datetime {
	padding-top: 3%;
	font-size: 125%;
	text-align: right;
}

#datetime span {
	padding-right: 5%;
}

#mapKey {
	padding: 2% 0%;
}

.headerContent {
	background-color: white;
	position: relative;
}

.floor {
	height: 225px;
	width:225px;
	position: absolute; 
	right: 0;
	margin-top:20px;
	padding-right:20px;
	background-image: url("../img/orange.png");
	background-repeat: no-repeat;
}

.floor .flabel {
	position: absolute;
	left:0;
	text-transform:uppercase;
	margin-top:110px;
	color:#ffffff;
	margin-left:40px;
	font-weight:bold;
	font-size:14px;
}

.floor .fnumber {
	position: absolute;
	right:0;
	margin-right:55px;
	font-size:200px;
	line-height:1;
	font-family:arial, sans-serif;
	font-weight:bold;
	color:#ffffff;
}

.title {
	padding-left:15px;
	height: 130px;
	background-color: #002244;
	margin-bottom: 10px;
	padding-bottom:25px;
}

.title span {
	color: #fff;
	font-size: 28pt;
	line-height:150px;
	font-weight: bold;
	padding-left: 13px;
	text-align: left;
}

.title img {
	margin-top:-20px;
}

.tabs {
	height: 105px;
	background-color: #002244;
}

.tabs p {
	padding-left: 2.5%;
	padding-top: 2.5%;
}

.tabs p .btn-large{
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 4%;
	padding-right: 4%;
	font-size: 175%;
	font-weight: bold;
}

.mainfxn {
	margin-left: 15px;
	display: inline;
	padding: 15px 35px;
	background-color: #000;
	color: #fff;
	font-size: 28px;
	height: 80px;
	width: 100px;
    border: 2px solid #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.active {
	background-color: #f47321;
}

.filterBlock {
	padding:20px;
	float:left;
	text-align:left;}
	.fBldg {margin-right:20px;}
	.fName {margin-right:20px;}
	.fAll {}
	
.filterBlock .lab {
	color:#ffffff;
	margin-bottom:9px;
	font-style:italic;}

.filterBlock .lab span {
	text-transform:uppercase;
	color:#f47321;
	font-style:normal;}
	
.filterBlock .locationMenu {
	padding:13px 16px;
	margin:5px 5px 5px 0; 
	background-color:#ffffff; 
	float:left;
	color:#002a5c;
	text-transform:uppercase;
	font-size:24px;}

.filterBlock .active {
	background-color:#f47321;
	color:#ffffff;
}


/*************
 * Map classes
 **************/
.floorButton {
	margin-left: 15px;
	padding: 10px 25px;
	background-color: #000;
	color: #fff;
	font-size: 20px;
	height: auto;
	width: 175px;
    border: 2px solid #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mapcontainer {
	position: relative;
	width: 1070px;
	height: 1400px;
}

.mapimg {
	position: absolute;
}

.maptitle {
	position: absolute;
	width: 300px;
	margin-left: 100px;
	margin-top: 100px;
}

.maptitle span {
	font-weight: bold;
	font-size: 200%;
	line-height: 1.2em;
}

.maptitle span + span {
	font-weight: bold;
	font-size: 175%;
	line-height: 1.2em;
}

.mapaction {
	position: absolute;
	width: 300px;
	margin-top: 185px;
	margin-left: 100px;
}

#kiosk1 {
	position: absolute;
	margin-top: 240px;
	margin-left: 800px;
	z-index: 1000;
}

#kiosk2 {
	position: absolute;
	margin-top: 584px;
	margin-left: 327px;
	z-index: 1000;
}

#kiosk3 {
	position: absolute;
	margin-top: 1074px;
	margin-left: 290px;
	z-index: 1000;
}

/******************
 *  Events classes
 ******************/

.eventscontainer {
	background-color: #fff;
	width: 1070px;
	height: auto;
}

/******************
 *  Locations classes
 ******************/

.locationscontainer {
	background-color: #fff;
	width: 1070px;
	height: 1400px;
}

th {background-color:#0052a1; color:#ffffff; font-size:24px; font-weight:normal; text-transform:uppercase; padding:12px !important;} 
td.roomLoc {color:#f47321; font-weight:bold; font-size:12px;}
td.active {background-color:#fff474;}


