
#PosRoom1 {
	position: absolute;
	margin-left: 730px;
	margin-top: 537px;
	z-index: 1000;
}
#PosRoom2 {
	position: absolute;
	margin-left: 704px;
	margin-top: 555px;
	z-index: 1000;
}
#PosRoom3 {
	position: absolute;
	margin-left: 703px;
	margin-top: 527px;
	z-index: 1000;
}
#PosRoom4 {
	position: absolute;
	margin-left: 299px;
	margin-top: 1048px;
	z-index: 1000;
}
#PosRoom5 {
	position: absolute;
	margin-left: 299px;
	margin-top: 1152px;
	z-index: 1000;
}
#PosRoom6 {
	position: absolute;
	margin-left: 273px;
	margin-top: 1176px;
	z-index: 1000;
}
#PosRoom7 {
	position: absolute;
	margin-left: 640px;
	margin-top: 617px;
	z-index: 1000;
}
#PosRoom8 {
	position: absolute;
	margin-left: 603px;
	margin-top: 895px;
	z-index: 1000;
}
#PosRoom9 {
	position: absolute;
	margin-left: 743px;
	margin-top: 617px;
	z-index: 1000;
}
#PosRoom10 {
	position: absolute;
	margin-left: 336px;
	margin-top: 556px;
	z-index: 1000;
}
#PosRoom11 {
	position: absolute;
	margin-left: 371px;
	margin-top: 913px;
	z-index: 1000;
}
#PosRoom12 {
	position: absolute;
	margin-left: 664px;
	margin-top: 617px;
	z-index: 1000;
}
#PosRoom13 {
	position: absolute;
	margin-left: 523px;
	margin-top: 895px;
	z-index: 1000;
}
#PosRoom14 {
	position: absolute;
	margin-left: 611px;
	margin-top: 617px;
	z-index: 1000;
}
#PosRoom15 {
	position: absolute;
	margin-left: 299px;
	margin-top: 486px;
	z-index: 1000;
}
#PosRoom16 {
	position: absolute;
	margin-left: 632px;
	margin-top: 839px;
	z-index: 1000;
}
#PosRoom17 {
	position: absolute;
	margin-left: 557px;
	margin-top: 895px;
	z-index: 1000;
}
#PosRoom18 {
	position: absolute;
	margin-left: 256px;
	margin-top: 486px;
	z-index: 1000;
}
#PosRoom19 {
	position: absolute;
	margin-left: 687px;
	margin-top: 617px;
	z-index: 1000;
}
#PosRoom20 {
	position: absolute;
	margin-left: 333px;
	margin-top: 486px;
	z-index: 1000;
}
#PosRoom21 {
	position: absolute;
	margin-left: 716px;
	margin-top: 617px;
	z-index: 1000;
}
#PosRoom22 {
	position: absolute;
	margin-left: 757px;
	margin-top: 442px;
	z-index: 1000;
}
#PosRoom23 {
	position: absolute;
	margin-left: 310px;
	margin-top: 913px;
	z-index: 1000;
}
#PosRoom24 {
	position: absolute;
	margin-left: 741px;
	margin-top: 528px;
	z-index: 1000;
}
#PosRoom25 {
	position: absolute;
	margin-left: 755px;
	margin-top: 328px;
	z-index: 1000;
}


#PosOffice1 {
	position: absolute;
	margin-left: 119px;
	margin-top: 510px;
	z-index: 1000;
}
#PosOffice2 {
	position: absolute;
	margin-left: 595px;
	margin-top: 823px;
	z-index: 1000;
}
#PosOffice3 {
	position: absolute;
	margin-left: 861px;
	margin-top: 386px;
	z-index: 1000;
}
#PosOffice4 {
	position: absolute;
	margin-left: 856px;
	margin-top: 434px;
	z-index: 1000;
}
#PosOffice5 {
	position: absolute;
	margin-left: 822px;
	margin-top: 246px;
	z-index: 1000;
}
#PosOffice6 {
	position: absolute;
	margin-left: 692px;
	margin-top: 823px;
	z-index: 1000;
}
#PosOffice7 {
	position: absolute;
	margin-left: 738px;
	margin-top: 889px;
	z-index: 1000;
}
#PosOffice8 {
	position: absolute;
	margin-left: 167px;
	margin-top: 510px;
	z-index: 1000;
}
#PosOffice9 {
	position: absolute;
	margin-left: 739px;
	margin-top: 257px;
	z-index: 1000;
}
#PosOffice10 {
	position: absolute;
	margin-left: 398px;
	margin-top: 889px;
	z-index: 1000;
}
#PosOffice11 {
	position: absolute;
	margin-left: 642px;
	margin-top: 823px;
	z-index: 1000;
}
#PosOffice12 {
	position: absolute;
	margin-left: 507px;
	margin-top: 823px;
	z-index: 1000;
}
#PosOffice13 {
	position: absolute;
	margin-left: 734px;
	margin-top: 823px;
	z-index: 1000;
}
#PosOffice14 {
	position: absolute;
	margin-left: 649px;
	margin-top: 209px;
	z-index: 1000;
}
#PosOffice15 {
	position: absolute;
	margin-left: 254px;
	margin-top: 895px;
	z-index: 1000;
}
#PosOffice16 {
	position: absolute;
	margin-left: 856px;
	margin-top: 434px;
	z-index: 1000;
}
#PosOffice17 {
	position: absolute;
	margin-left: 873px;
	margin-top: 358px;
	z-index: 1000;
}
#PosOffice18 {
	position: absolute;
	margin-left: 550px;
	margin-top: 823px;
	z-index: 1000;
}

#PosLounge1 {
	position: absolute;
	margin-left: 782px;
	margin-top: 624px;
	z-index: 1000;
}
#PosLounge2 {
	position: absolute;
	margin-left: 563px;
	margin-top: 839px;
	z-index: 1000;
}
#PosLounge3 {
	position: absolute;
	margin-left: 281px;
	margin-top: 1050px;
	z-index: 1000;
}
#PosLounge4 {
	position: absolute;
	margin-left: 314px;
	margin-top: 523px;
	z-index: 1000;
}
#PosLounge5 {
	position: absolute;
	margin-left: 407px;
	margin-top: 593px;
	z-index: 1000;
}
#PosLounge6 {
	position: absolute;
	margin-left: 575px;
	margin-top: 575px;
	z-index: 1000;
}
#PosLounge7 {
	position: absolute;
	margin-left: 768px;
	margin-top: 426px;
	z-index: 1000;
}
#PosLounge8 {
	position: absolute;
	margin-left: 711px;
	margin-top: 840px;
	z-index: 1000;
}
#PosLounge9 {
	position: absolute;
	margin-left: 930px;
	margin-top: 542px;
	z-index: 1000;
}
#PosLounge10 {
	position: absolute;
	margin-left: 289px;
	margin-top: 556px;
	z-index: 1000;
}
#PosLounge11 {
	position: absolute;
	margin-left: 378px;
	margin-top: 817px;
	z-index: 1000;
}
#PosLounge12 {
	position: absolute;
	margin-left: 554px;
	margin-top: 1095px;
	z-index: 1000;
}
#PosLounge13 {
	position: absolute;
	margin-left: 560px;
	margin-top: 713px;
	z-index: 1000;
}
#PosLounge14 {
	position: absolute;
	margin-left: 837px;
	margin-top: 486px;
	z-index: 1000;
}

#PosDining1 {
	position: absolute;
	margin-left: 434px;
	margin-top: 550px;
	z-index: 1000;
}
#PosDining2 {
	position: absolute;
	margin-left: 757px;
	margin-top: 610px;
	z-index: 1000;
}
#PosDining3 {
	position: absolute;
	margin-left: 195px;
	margin-top: 531px;
	z-index: 1000;
}
#PosDining4 {
	position: absolute;
	margin-left: 434px;
	margin-top: 550px;
	z-index: 1000;
}
#PosDining5 {
	position: absolute;
	margin-left: 546px;
	margin-top: 527px;
	z-index: 1000;
}
#PosDining6 {
	position: absolute;
	margin-left: 441px;
	margin-top: 838px;
	z-index: 1000;
}
#PosDining7 {
	position: absolute;
	margin-left: 434px;
	margin-top: 550px;
	z-index: 1000;
}
#PosService1 {
	position: absolute;
	margin-left: 770px;
	margin-top: 467px;
	z-index: 1000;
}
#PosService2 {
	position: absolute;
	margin-left: 590px;
	margin-top: 528px;
	z-index: 1000;
}

#PosService3 {
	position: absolute;
	margin-left: 691px;
	margin-top: 631px;
	z-index: 1000;
}

#PosService4 {
	position: absolute;
	margin-left: 821px;
	margin-top: 297px;
	z-index: 1000;
}

#PosService5 {
	position: absolute;
	margin-left: 651px;
	margin-top: 631px;
	z-index: 1000;
}

#PosService6 {
	position: absolute;
	margin-left: 624px;
	margin-top: 631px;
	z-index: 1000;
}

#PosService7 {
	position: absolute;
	margin-left: 721px;
	margin-top: 203px;
	z-index: 1000;
}

