
<ul>
	
<li>
<a href="events.cfm">Major Events Today</a>
</li>

<li>
<a href="all_events.cfm">All Events Today</a>
</li>

<li>
<a href="spaces.cfm">Space Listing</a>
</li>

<li>
<a href="space_events.cfm?space_id=389">Events for a specific space example</a>
</li>

</ul>