<cfcontent type="text/xml" />
<cfinvoke webservice="#Application.baseinvocation#space.cfc?wsdl" method="spaces" returnvariable="strg">
	<cfinvokeargument name="query_id" value="228997" />
</cfinvoke>	
<spaces>
<cfoutput>
<cfloop array="#strg#" index="item">
	<space>
		<id>#item.space_id._text#</id>
		<name>#item.space_name._text#</name>
	</space>
</cfloop>
</cfoutput>
</spaces>