<cfdump var="#Application#" />

<cfset tracker = createObject("java", "coldfusion.runtime.SessionTracker")>
<cfset sessions = tracker.getSessionCollection(application.applicationName)>
<cfdump var="#sessions#">
