<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="refresh" content="3600">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>SCALA UC Kiosk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="john.garza@utsa.edu">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/kiosk.css" rel="stylesheet">
    <link href="css/positions.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
			<div id="header">
			</div>
			<div id="display">
			</div>
			<div id="footer">
			</div>
			<div id="modal" class="modal fade hide carousel slide">
  <!-- Carousel items -->
			</div>
    </div> <!-- /container -->

   <script src="js/plugins.js"></script>
	 <!-- 3rd party libs -->
    <script src="js/libs/moment.js"></script>
    <script src="js/libs/spin.js"></script>
    <script src="js/libs/jquery.js"></script>
	<!-- jquery libs -->
    <script src="js/libs/bootstrap.min.js"></script>
    <script src="js/libs/jquery.spin.js"></script>

	<!-- backbone libs -->
	<script src="js/libs/backbone/json2.js"></script>
	<script src="js/libs/backbone/lodash.min.js"></script>
	<script src="js/libs/backbone/lawnchair-0.6.1.js"></script>
	<script src="js/libs/backbone/backbone-0.9.10.js"></script>

	<!-- application -->
	<script src="js/app/model.js"></script>
	<script src="js/app/views/header.js"></script>
	<script src="js/app/views/footer.js"></script>
	<script src="js/app/views/map.js"></script>
	<script src="js/app/views/locations.js"></script>
	<script src="js/app/views/modal.js"></script>
  <script src="js/app/views/events.js"></script>
	<script src="js/app/sync.js"></script>
	<script src="js/app/router.js"></script>
	<script src="js/app/app.js"></script>
  </body>
</html>

<script type="text/html" id="header-template">
<div class="row branding">
	<div class="span7"><img id="brandimg" alt="University Center" src="img/UC_LOGO.png" /></div>
	<div class="span3"id="datetime"><span ><%= current_time %></span></div>

</div>
<div class="row headerContent">
	<div class="span3 floor">
		<div class="flabel">
			Floor
		</div>
		<div class="fnumber">
			<%= floor %>
		</div>
	</div>
	<div class="row title">
		<div class="span10">
			<img id="infoimg" src="img/info.png"/>
			<span>Interactive Directory</span>
		</div>
	</div>
</div>
<div class="row tabs pull-left">
	<div class="span10">
		<p>
		<div id="map" class="menu mainfxn <% if (current_view == "map") {%>active<% }%>">Map</div>
		<div id="locations" class="menu mainfxn <% if (current_view == "locations") {%>active<% }%>">Locations</div>
    <!--
		<div id="events" class="menu mainfxn <% if (current_view == "events") {%>active<% }%>">Events</div>
		  -->
		</p>
	</div>
</div>
<div class="clearfix"></div>
</script>

<script type="text/html" id="footer-template">
<!--
<%= current_view %>
-->
<% if (current_view == "map") { %>
	<img id="mapKey" alt="map key" src="img/key.png" />
<% } %>

<% if (current_view == "locations") { %>

<div class="footerContent">

	<div class="filterBlock fBldg">
		<div class="lab">Filter by <span>Building</span></div>
		<div id="ucNorth" class="locationMenu <% if (filter == "ucNorth"){%>active<% } %>">UC North</div>
		<div id="hUC" class="locationMenu <% if (filter == "hUC"){%>active<% } %>">HEB UC</div>
	</div>

	<div class="filterBlock fName">
		<div class="lab">Filter by <span>Name</span></div>
		<div id="AC" class="locationMenu <% if (filter == "AC"){%>active<% } %>">A-C</div>
		<div id="DI" class="locationMenu <% if (filter == "DI"){%>active<% } %>">D-I</div>
		<div id="JR" class="locationMenu <% if (filter == "JR"){%>active<% } %>">J-R</div>
		<div id="SZ" class="locationMenu <% if (filter == "SZ"){%>active<% } %>">S-Z</div>
	</div>

	<div class="filterBlock fAll">
		<div class="lab">&nbsp;</div>
		<div id="all" class="locationMenu <% if (filter == "all"){%>active<% } %>">View All</div>
	</div>

</div>

<% } %>
<% if (current_view == "events") { %>
<% } %>
</script>


<script type="text/html" id="locations-template">
<div class="row"><div class="span10">
<div class="locationscontainer">
	<table class="table locations">
	<col align="left" width="9%" />
	<col align="left" width="24%" />
	<col align="left" width="9%" />
	<col align="left" width="24%" />
	<col align="left" width="9%" />
	<col align="left" width="24%" />

	<tr><th colspan="6">Meeting Rooms</th></tr>
	<%
	var room_data = location_data["rooms"];
	var room_ids = _.keys(room_data);
	var room_loop = 9;
	var col1 = room_ids.slice(0, 9);
	var col2 = room_ids.slice(9, 17);
	var col3 = room_ids.slice(17, 25);
	%>
	<tbody>
	<% _.each(col1, function(val, idx){ %>
		<%
		var item1, item2, item3;
		item1id = col1[idx];
		item2id = col2[idx];
		item3id = col3[idx];
		item1 = room_data[item1id];
		item2 = room_data[item2id];
		item3 = room_data[item3id];
		%>
		<tr>
		<td data-id="<%= item1id %>" class="roomLoc room <%= item1.bldg %> <%= item1.alpha %>"><%= item1.room %></td>
		<td data-id="<%= item1id %>" class="roomName room <%= item1.bldg %> <%= item1.alpha %>"><%= item1.name %></td>
		<% if (item2) { %>
			<td data-id="<%= item2id %>" class="roomLoc room <%= item2.bldg %> <%= item2.alpha %>"><%= item2.room %></td>
			<td data-id="<%= item2id %>" class="roomName room <%= item2.bldg %> <%= item2.alpha %>"><%= item2.name %></td>
		<% } else { %>
			<td colspan="2">&nbsp;</td>
		<% } %>
		<% if (item3) { %>
			<td data-id="<%= item3id %>" class="roomLoc room <%= item3.bldg %> <%= item3.alpha %>"><%= item3.room %></td>
			<td data-id="<%= item3id %>" class="roomName room <%= item3.bldg %> <%= item3.alpha %>"><%= item3.name %></td>
		<% } else { %>
			<td colspan="2">&nbsp;</td>
		<% } %>
		</tr>
	<% }); %>
</tbody>

	<tr><th colspan="6">Offices</th></tr>
	<%
	var room_data = location_data["offices"];
	var room_ids = _.keys(room_data);
	var room_loop = 6;
	var col1 = room_ids.slice(0, 6);
	var col2 = room_ids.slice(6, 13);
	var col3 = room_ids.slice(13, 20);
	%>
	<tbody>
	<% _.each(col1, function(val, idx){ %>
		<%
		var item1, item2, item3;
		item1id = col1[idx];
		item2id = col2[idx];
		item3id = col3[idx];
		item1 = room_data[item1id];
		item2 = room_data[item2id];
		item3 = room_data[item3id];
		%>
		<tr>
		<td data-id="<%= item1id %>" class="roomLoc office <%= item1.bldg %> <%= item1.alpha %>"><%= item1.room %></td>
		<td data-id="<%= item1id %>" class="roomName office <%= item1.bldg %> <%= item1.alpha %>"><%= item1.name %></td>
		<% if (item2) { %>
			<td data-id="<%= item2id %>" class="roomLoc office <%= item2.bldg %> <%= item2.alpha %>"><%= item2.room %></td>
			<td data-id="<%= item2id %>" class="roomName office <%= item2.bldg %> <%= item2.alpha %>"><%= item2.name %></td>
		<% } else { %>
			<td colspan="2">&nbsp;</td>
		<% } %>
		<% if (item3) { %>
			<td data-id="<%= item3id %>" class="roomLoc office <%= item3.bldg %> <%= item3.alpha %>"><%= item3.room %></td>
			<td data-id="<%= item3id %>" class="roomName office <%= item3.bldg %> <%= item3.alpha %>"><%= item3.name %></td>
		<% } else { %>
			<td colspan="2">&nbsp;</td>
		<% } %>
		</tr>

	<% }); %>
	</tbody>

	<tr><th colspan="6">Lounges/Open Areas</th></tr>
	<%
	var room_data = location_data["lounges"];
	var room_ids = _.keys(room_data);
	var room_loop = 5;
	var col1 = room_ids.slice(0, 5);
	var col2 = room_ids.slice(5, 10);
	var col3 = room_ids.slice(10, 15);
	%>
	<tbody>
	<% _.each(col1, function(val, idx){ %>
		<%
		var item1, item2, item3;
		item1id = col1[idx];
		item2id = col2[idx];
		item3id = col3[idx];
		item1 = room_data[item1id];
		item2 = room_data[item2id];
		item3 = room_data[item3id];
		%>
		<tr>
		<td data-id="<%= item1id %>" class="roomLoc lounge <%= item1.bldg %> <%= item1.alpha %>"><%= item1.room %></td>
		<td data-id="<%= item1id %>" class="roomName lounge <%= item1.bldg %> <%= item1.alpha %>"><%= item1.name %></td>
		<% if (item2) { %>
			<td data-id="<%= item2id %>" class="roomLoc lounge <%= item2.bldg %> <%= item2.alpha %>"><%= item2.room %></td>
			<td data-id="<%= item2id %>" class="roomName lounge <%= item2.bldg %> <%= item2.alpha %>"><%= item2.name %></td>
		<% } else { %>
			<td colspan="2">&nbsp;</td>
		<% } %>
		<% if (item3) { %>
			<td data-id="<%= item3id %>" class="roomLoc lounge <%= item3.bldg %> <%= item3.alpha %>"><%= item3.room %></td>
			<td data-id="<%= item3id %>" class="roomName lounge <%= item3.bldg %> <%= item3.alpha %>"><%= item3.name %></td>
		<% } else { %>
			<td colspan="2">&nbsp;</td>
		<% } %>
		</tr>

	<% }); %>
	</tbody>
	<tr><th colspan="6">Dining</th></tr>
	<%
	var room_data = location_data["dining"];
	var room_ids = _.keys(room_data);
	var room_loop = 3;
	var col1 = room_ids.slice(0, 3);
	var col2 = room_ids.slice(3, 6);
	var col3 = room_ids.slice(6, 9);
	%>
	<tbody>
	<% _.each(col1, function(val, idx){ %>
		<%
		var item1, item2, item3;
		item1id = col1[idx];
		item2id = col2[idx];
		item3id = col3[idx];
		item1 = room_data[item1id];
		item2 = room_data[item2id];
		item3 = room_data[item3id];
		%>
		<tr>
		<td data-id="<%= item1id %>" class="roomLoc dining <%= item1.bldg %> <%= item1.alpha %>"><%= item1.room %></td>
		<td data-id="<%= item1id %>" class="roomName dining <%= item1.bldg %> <%= item1.alpha %>"><%= item1.name %></td>
		<% if (item2) { %>
			<td data-id="<%= item2id %>" class="roomLoc dining <%= item2.bldg %> <%= item2.alpha %>"><%= item2.room %></td>
			<td data-id="<%= item2id %>" class="roomName dining <%= item2.bldg %> <%= item2.alpha %>"><%= item2.name %></td>
		<% } else { %>
			<td colspan="2">&nbsp;</td>
		<% } %>
		<% if (item3) { %>
			<td data-id="<%= item3id %>" class="roomLoc dining <%= item3.bldg %> <%= item3.alpha %>"><%= item3.room %></td>
			<td data-id="<%= item3id %>" class="roomName dining <%= item3.bldg %> <%= item3.alpha %>"><%= item3.name %></td>
		<% } else { %>
			<td colspan="2">&nbsp;</td>
		<% } %>
		</tr>

	<% }); %>
	</tbody>
	<tr><th colspan="6">Services</th></tr>
	<%
	var room_data = location_data["services"];
	var room_ids = _.keys(room_data);
	var room_loop = 3;
	var col1 = room_ids.slice(0, 3);
	var col2 = room_ids.slice(3, 6);
	var col3 = room_ids.slice(6, 9);
	%>
	<tbody>
	<% _.each(col1, function(val, idx){ %>
		<%
		var item1, item2, item3;
		item1id = col1[idx];
		item2id = col2[idx];
		item3id = col3[idx];
		item1 = room_data[item1id];
		item2 = room_data[item2id];
		item3 = room_data[item3id];
		%>
		<tr>
		<td data-id="<%= item1id %>" class="roomLoc service <%= item1.bldg %> <%= item1.alpha %>"><%= item1.room %></td>
		<td data-id="<%= item1id %>" class="roomName service <%= item1.bldg %> <%= item1.alpha %>"><%= item1.name %></td>
		<% if (item2) { %>
			<td data-id="<%= item2id %>" class="roomLoc service <%= item2.bldg %> <%= item2.alpha %>"><%= item2.room %></td>
			<td data-id="<%= item2id %>" class="roomName service <%= item2.bldg %> <%= item2.alpha %>"><%= item2.name %></td>
		<% } else { %>
			<td colspan="2">&nbsp;</td>
		<% } %>
		<% if (item3) { %>
			<td data-id="<%= item3id %>" class="roomLoc service <%= item3.bldg %> <%= item3.alpha %>"><%= item3.room %></td>
			<td data-id="<%= item3id %>" class="roomName service <%= item3.bldg %> <%= item3.alpha %>"><%= item3.name %></td>
		<% } else { %>
			<td colspan="2">&nbsp;</td>
		<% } %>
		</tr>
	<% }); %>
	</tbody>
	</table>
</div>

</div></div>
</script>

<script type="text/html" id="events-template">
<div class="row"><div class="span10">
<div class="eventscontainer">
	<table class="table events table-striped">
	<thead>
		<tr>
			<th>Time</th>
			<th>Event</th>
			<th>Organization</th>
			<th>Location</th>
		</tr>
	</thead>
	<% if (event_data) { %>
		<tbody>
		<% _.each(event_data, function(val, idx) { %>
			<%
			var event = val["event"];
			var space = val["spaces"];
			var space_id = space["space_id"];
			var stdt = moment(event["event_start_dt"], R25_DT_FORMAT);
			var eddt = moment(event["event_end_dt"], R25_DT_FORMAT);
			 %>
			<tr data-space-id="<%= space_id %>">
				<td class="roomLookup"><%= stdt.format(TM_FORMAT) %> - <%= eddt.format(TM_FORMAT)%></td>
				<td class="roomLookup"><%= event.event_name %></td>
				<td class="roomLookup"><%= event.organization_name %></td>
				<td class="roomLookup"><%= space.formal_name %></td>
			</tr>
		<% }); %>
		</tbody>
	<% } else { %>
		<tbody>
		<tr><td colspan="4" id="activity"></td></tr>
		</tbody>
	<%	}  %>
	</table>
</div>
</div></div>
</script>

<script type="text/html" id="map-template">
<div class="row"><div class="span10">
<div class="mapcontainer">
	<div class="mapimg" style="">
	<img src="img/FLOOR_<%= floor%>.jpg"/>
	</div>
	<div class="maptitle">
		<span>University Center</span>
		<span>Floor <%= floor%></span>
	</div>
	<div id="kiosk<%= kiosk%>">&nbsp;</div>

	<% if (current_location != undefined) { %>
		<div id="Pos<%= current_location_name %>"></div>
	<% } else { %>
		<div class="mapaction">
			<div id="toggleFloor" class="floorButton toggleFloor active">View <% if (floor == "1"){%>2nd<% } else {%>1st<%}%> Floor</div>
		</div>
	<% } %>


</div>
</div></div>
</script>
