<div class="carousel-inner">
  <div class="item">
    <img src="img/modal/00-modal.jpg" />
  </div>
  <div class="item">
    <img src="img/modal/01-modal.jpg" />
  </div>
  <div class="item">
    <img src="img/modal/02-modal.jpg" />
  </div>
  <div class="item">
    <img src="img/modal/03-modal.jpg" />
  </div>
  <div class="item">
    <img src="img/modal/04-modal.jpg" />
  </div>
  <div class="item">
    <img src="img/modal/05-modal.jpg" />
  </div>
</div>
